doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HomePage
        link(rel="stylesheet", href="style/home.css")
    body 
        div(class="Container")
            div(class="Section0")
                if logged.islogged
                    img(src=`/img/${logged.session.ProfilId}.png`, alt="profile pic")
                    p #{logged.session.FirstName} #{logged.session.LastName} 
                    p - #{logged.session.Field} 
                    button(type="button") Profil
                    form(action="auth/logout", method="get") 
                        button(type="submit") Logout
                else
                    button(type="button",onClick="window.location='/auth/login'") Login
            if logged.islogged
                div(class="Section1")
                    form(action="question/newQuestion", method="post") 
                        input(type="text", name="title", placeholder="Title of your Question")
                        textarea(name="newpost", cols="30", rows="7", placeholder="Write your Question here...").
                        button(type="submit") Post
            else 
                h2 - Login to write your Question -
            div(class="Section2")
                if alldata
                    each data in alldata
                        div(class="Post",id="")
                            div(class="Post-header")
                                h2(class="Post-title") #{data.Title}
                                p(class="Post-author") #{data.Student}
                                    strong  #{data.Date}
                            div(class="Post-content")
                                p #{data.Text}
                                a(href="",class="reply-link") repondre a la question
                else    
                    div(class="Post") No DATA FOUND 

            